/*
*************************************************

HEALTH DESIGN CHALLENGE
General Screen Stylessss

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

/*-------------------------------------------    
    Flag
    (Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; }



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
body { font: normal 62.5%/1.5 'Source Sans Pro', sans-serif; color: #4a4a4a; background: #fff; }


/* block level */

h1, .h1 { font: bold 22px 'Source Sans Pro', sans-serif; margin: 0 0 0.5em; }
h2, .h2 { font: bold 18px 'Source Sans Pro', sans-serif; }
h3, .h3 { }
h4, .h4, h5, .h5, h6, .h6 { font: normal 13px 'Source Sans Pro', sans-serif; color: #933; margin: 0 0 1em; }

p, ul, dl, ol, table { margin: 0 0 1.5em; font: normal 20px 'Source Sans Pro', sans-serif; }

ul { /*list-style-image: url(/-/i/bullet.gif);*/ }
    ul li, ol li { margin: 0 0 1em 15px; padding: 0 0 0 0.5em; }
    ol li { margin-left: 25px; }

form { margin: 0 0 1.5em; }

/* inline */

input, select, textarea { font-family: 'Source Sans Pro', sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.5); font-weight: 400; }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
input[type=text], textarea { padding: 0.5em; border: 1px solid #9a9a9a; font: normal 13px 'Source Sans Pro', sans-serif; width: 100%; }
.error { color: red; }

table { width: 100%; }
    th, td { text-align: left; }    
    tbody, tr { width: 100%; display: block; }
    /*tr*/.info th, /*tr*/.info td { display: block; width: 100%; }
    /*th { font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-size: 14px; color: #a2a2a2; }*/
    th:not([scope="col"]), .info dt { font-weight: normal; text-transform: uppercase; letter-spacing: 0.1em; font-size: 14px; color: #a2a2a2; }
    .info td { padding: 0 0 1em; font-size: 30px; }
    .inset .info td { font-size: 24px; }
    
    .chart th { display: block; width: 25%; float: left; padding: 0 0 0.5em; }
    .chart th:not([scope="col"]) { position: relative; top: 0.35em; }
    .chart:first-child th:not([scope="col"]) { position: relative; top: 0.7em; }
    .chart td, .chart th[scope="col"] { display: block; width: 75%; float: left; font-size: 21px; padding: 0 0 0.5em; }
    .chart th[scope="col"] { font-size: 24px; }
    
em { font-style: italic; }
strong { font-weight: bold; }
/*strong*/.instructions { color: #1497c3; }

mark { background: none; font-style: normal; }
time { color: #bbb; }
video { width:100%; height: auto; }

a { text-decoration: none; .transition(all, 0.25s, linear); color: #39c; color: #1497c3; transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }
a:hover, a:focus { color: #34302b; }


img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }

abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }
th abbr, th abbr[title] { font-size: 100%; }

code { font: 13px/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }


/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after, dl.info:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clear { clear: both; }

.offscreen, caption { position: absolute; left: -9999px; display: block; }

.hide { display: none; }

.no-bullets, .no-numbers, .meta { list-style: none; }
.no-bullets li, .no-numbers li, .meta li { margin: 0; padding: 0; } 

.left { float: left; }
.right { float: right; }

/*-------------------------------------------    
    Layouts
-------------------------------------------*/
.col50 { width: 50%; float: left; }
	

/*-------------------------------------------    
    Modules
-------------------------------------------*/

.drawer { margin: 0 0 2em; }

.inner { padding: 0 3%; max-width: 960px; margin: 0 auto; } 

.inset { background: #efefef; border-top: 10px solid #e8e8e8; padding: 2em 0 0; }

.button { margin: 1em 0 0; }
    .button a { display: inline-block; background: #60afd0; color: #fff; font-size: 18px; padding: 0.5em 1em; border-radius: 10px; }

.section-header { background: #376372; padding: 1.5em 0; margin: 0 0 1em; }
    .section-header h1 { text-transform: uppercase; letter-spacing: 0.1em; color: #fff; font-size: 20px; font-weight: 600; margin: 0; }

.article-header { margin: 0 0 3em; }
    .article-header h1, .allergy h1 { font-size: 30px; margin: 0; }
    .article-header p { margin: 0 0 0.25em; }
        
        
/*strong*/.status { text-transform: uppercase; letter-spacing: 0.1em; color: #fff; font-size: 14px; padding: 0.25em 0.5em; display: inline-block; }
.status-resolved { background: #14a101; }
.status-active { background: #e50100; }

.table-list + .table-list:before { content: ""; width: 100%; border-top: 1px solid #e5e5e5; display: block; position: relative; top: -1em; }

/*article*/.allergy { padding-left: 25%; }
    .info dt, .info dd { float: left; }
    .info dt { width: 25%; position: relative; top: 0.5em; }
    .info dd { width: 75%; }

/*-------------------------------------------    
    Masthead
-------------------------------------------*/
.masthead { background: #1e1e1e; text-align: center; padding: 2em 0; }
    .masthead h1 { color: #fff; text-transform: uppercase; letter-spacing: 0.1em; font-size: 21px; }


/*-------------------------------------------    
    Demographics
-------------------------------------------*/
#demographics td.given-name, #demographics td.family-name { font-weight: bold; font-size: 50px; padding: 0 0 0.5em; line-height: 1; }